body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #072d54, #0c337b);
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    width:auto;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.cards {
    border-width: 20px;
    transition: 0.3s ease;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 40px;
}

.card {
    border-width: 2px;
    padding: 20px;
    width: 25%;
    text-align: center;
    border-radius: 9px;
    font-size: 20px;
}

.card:hover {
    border: 2px solid white;
}

.total {
    background-color: #29b4d7;
}

.approved {
    background-color: #19b155;
}

.rejected {
    background-color: #eb0505;
}

table {
    width: 100%;
    border-color: rgb(14, 15, 15);
    border-radius: 5px;
    background: white;
    color: black;
    border-width: 5px;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #0b0a0a;
}

.approved {
    color: rgb(15, 15, 15);
    font-weight: bold;
}

.rejected {
    color: rgb(15, 15, 15);
    font-weight: bold;
}
.accuracy {
    background-color: #061a54;
}

.charts {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

canvas {
    width: 150px !important;
    height: 150px !important;
    background: white;
    padding: 10px;
    border-radius: 10px;
}